<html>
<head>
<title>Test XMLHttpRequest zero-length response handling (sync)</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<body>
<p>Test for <a href="http://bugs.webkit.org/show_bug.cgi?id=5924">bug 5924</a>
- zero-length responses to XMLHTTPRequest mishandled.</p>

<ul id="logs"></ul>

<script>
  var req, failed = false;

  function error(message){
    window.console && window.console.error && window.console.error(message);

    var node = document.createElement("li");
    node.appendChild(document.createTextNode('ERROR: ' + message));

    document.getElementById('logs').appendChild(node);
  }

  function log(message){
    window.console && window.console.log && window.console.log(message);

    var node = document.createElement("li");
    node.appendChild(document.createTextNode(message));

    document.getElementById('logs').appendChild(node);
  }

  function assert(cond, message){
    if(!cond){
      error(message);
      failed = true;
    }
  }

  function testCase(request){
    assert(request.responseText === '', 'Expected an empty response but got "' + request.responseText + '".');
    assert(request.status === 200, 'Expected a 200 response code but got "' + request.status + '".');
    assert(request.getResponseHeader('CONTENT-LENGTH') === '0', 'Expected CONTENT-LENGTH to be 0 but got "' + request.getResponseHeader('CONTENT-LENGTH') + '".');
    assert(request.getResponseHeader('X-TEST') === 'omg', 'Expected X-TEST to be "omg" but got "' + request.getResponseHeader('X-TEST') + '".');

    failed ? error('TEST FAILED') : log('TEST PASSED');
  }

  if (window.XMLHttpRequest){
    req = new XMLHttpRequest();
  }else{
    try{
      req = new ActiveXObject('Msxml2.XMLHTTP');
    }catch(ex){
      req = new ActiveXObject('Microsoft.XMLHTTP');
    }
  }

  req.open('GET', '/blank', false /* async */);

  req.send(null);

  testCase(req);
</script>
</body>
</html>
